@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans');

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Alegreya Sans', sans-serif !important;
}